background
backgroud/
*.un*
*.un

**/auth*.txt

CacheStorage
WebStorage
IndexDB
IndexedDB
Local Storage
Service Worker
Shared Dictionary

# Falkon browser profiles (personal data/cache)
falkon/.config/falkon/profiles/
falkon/.config/falkon/profiles.ini

*.ovpn
*.png
*.jpg
