./background
background
backgroud/
./backgroud/
*.un*
*.un

*/*/*/*auth*.txt
*/*/*auth*.txt
*/*auth*.txt
./*auth*.txt

CacheStorage
WebStorage
IndexDB
IndexedDB
Local Storage
Service Worker
Shared Dictionary
./falkon/.config/falkon/profiles/default/IndexedDB/
./falkon/.config/falkon/profiles/default/WebStorage/
./falkon/.config/falkon/profiles/default/TransportSecurity/
./falkon/.config/falkon/profiles/default/Local Storage/
./falkon/.config/falkon/profiles/default/Service Worker/
./falkon/.config/falkon/profiles/default/IndexedDB
./falkon/.config/falkon/profiles/default/WebStorage
./falkon/.config/falkon/profiles/default/TransportSecurity
./falkon/.config/falkon/profiles/default/Local Storage
./falkon/.config/falkon/profiles/default/Service Worker
./falkon/.config/falkon/profiles/default/permissions.json


*.ovpn
*.png
*.jpg
