@define-color foreground #dedede;
@define-color background #242729;

@define-color color0 #242729;
@define-color color1 #9c6b7a;
@define-color color2 #8a9887;
@define-color color3 #c4afa2;
@define-color color4 #8d96bd;
@define-color color5 #b694b6;
@define-color color6 #86a3a6;
@define-color color7 #c7c9cc;
@define-color color8 #44444c;
@define-color color9 #ae808f;
@define-color color10 #9aaa92;
@define-color color11 #e0cca8;
@define-color color12 #9da4c8;
@define-color color13 #d2aece;
@define-color color14 #9cb9c0;
@define-color color15 #dedede;
