layout {
    gaps 10

    center-focused-column "never"
    always-center-single-column
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width { proportion 0.5; }

    focus-ring {
        width 2
    }

    shadow {
        on
        softness 20
        spread 2
        offset x=0 y=5
        draw-behind-window false
        color "#0007"
    }
}

overview {
    zoom 0.5
}

recent-windows {
    open-delay-ms 100

    highlight {
        padding 30
        corner-radius 0
    }

    binds {
        Alt+Tab         { next-window; }
        Alt+Shift+Tab   { previous-window; }
        Alt+grave       { next-window     filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }
    }
}
