// Other monitors are auto-configured.
output "HDMI-A-1" {
    mode "1920x1080@179.999"
    position x=0 y=0
    focus-at-startup
}

// Enable VRR for laptop display.
output "eDP-1" {
    variable-refresh-rate
}
