/* Global Styles */
* {
    color: #ffffff;
    font-family: "FiraMono Nerd Font Propo";
    font-size: 14px;
    margin: 1px;
    font-weight: bold;
}

/* Tooltip */
tooltip {
    /*border-width: 1px;*/
    border-style: solid;
    border-color: #2e2c3b; /* Rose Pine Border */
    background: rgba(31, 31, 46, 0.7);
}

tooltip label {
    color: #cdd6f4; /* Rose Pine Text */
}

/* Workspaces */
#workspaces {
    padding: 2px 0px;
}
#workspaces button {
    margin: 1px 5px;
    padding: 1px 5px;
    color: #cdd6f4; /* Rose Pine Text */
    background: transparent;
    border: 1px solid transparent;
}

#workspaces button.focused {
    color: #dc5d5d;
    border-left: 1px solid #f5c2e7;
}

#workspaces button.persistent,
#workspaces button.urgent {
    color: rgba(100, 114, 125, 0.5);
}

#workspaces button.active {
    color: #f5c2e7; /* Rose Pine Pink */
    border-left: 1px solid #f5c2e7;
}

#workspaces button.urgent {
    color: #f38ba8; /* Rose Pine Red */
}

/* Custom Modules */
#custom-weather,
#custom-myhyprv,
#temperature,
#cpu,
#memory,
#backlight {
    margin: 3px;
    color: #ffffff; /* Rose Pine Text */
}

#pulseaudio, #cpu, #disk, #custom-updates, #memory, #backlight {
    padding: 0px 6px;
    margin: 0px;
    color: #ffffff; /* Rose Pine Text */
}

#custom-lock_screen,
#custom-light_dark,
#custom-power_btn,
#custom-power_profile {
    padding: 0px 8px 5px;
    margin: 0px 0px 1px 7px;
    font-size: 18px;
    color: #ffffff; /* Rose Pine Text */
}

/* Network Module */
#network {
    background-color: transparent;
}

/* Cava Visualization */
#cava, #tray ,#wlr-taskbar {
    opacity: 1;
}

/* Window Style */

window#waybar {
    /*border-radius: 35px;*/
    background: rgba(31, 29, 46, .2);
    border: 1px solid rgba(245, 194, 231, 0.1);
    /* background: transparent; */
}

/* Waybar States */
window#waybar.hidden,
window#waybar.empty {
    background-color: transparent;
}

window#waybar.solo {
    background-color: #1A1A21;
}

window#waybar.mpv,
window#waybar.kitty {
    background-color: rgba(255, 255, 255, 0.00);
}

window#waybar.telegramdesktop {
    background-color: #212127;
}

/* Individual Module Styling */
#clock, #cpu, #memory, #backlight, #pulseaudio, #temperature, #mode,
#battery {
    color: #ffffff;
    font-size: 13px;
    margin: 5px 0px;
}

#battery, #pulseaudio, #temperature, #backlight {
    border-left: 1px solid #f5c2e7;
}
#tray, #clock, #network, #bluetooth {
    border-bottom: 1px solid #f5c2e7;
    margin: 0px 8px;
}
#tray {
    margin-right: 8px;
}

#cpu, #memory {
    border-left: 1px solid #f5c2e7;
}

#battery.charging {
    border-left: 1px solid #ff761a;
}

#battery.discharging {
    border-left: 1px solid #99a4bc;
}

#battery.warning.discharging {
    border-left: 1px solid #ffc552;
}

#battery.critical.discharging,
#battery.critical.charging {
    border-left: 1px solid #ff3600;
}

#battery.warning.charging {
    border-left: 1px solid #ff761a;
}

/* Focused Labels */
label:focus {
    background-color: #000000;
}

#taskbar {
    padding: 0px 0px;
    margin: 0px 0px;
}

#taskbar button {
    padding: 1px 0px;
    margin: 0px 0px;
}

#taskbar button:hover {
    background: none;
    border: none;
}

#custom-waypick ,
#disk.ssd {
    padding: 1px 5px;
    border-bottom: 1px solid #f5c2e7;
    margin: 0px 5px;
}
