* {
    font-family: "FiraMono Nerd Font Propo";
    font-weight: bold;
    font-size: 14px;
}

window#waybar {
    border-radius: 35px;
    padding: 0 10px;
    color: #cdd6f4; /* Rose Pine Text */
    background: rgba(31, 29, 46, 0.3);
    border: 1px solid  rgba(245, 194, 231, 0.2);
}

tooltip {
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #2e2c3b; /* Rose Pine Border */
}

tooltip label {
    color: #cdd6f4; /* Rose Pine Text */
}

#workspaces button {
    padding: 5px;
    color: #cdd6f4; /* Rose Pine Text */
    margin-right: 5px;
}

#workspaces button.active {
    color: #f5c2e7; /* Rose Pine Pink */
}

#workspaces button.focused {
    color: #f5c2e7; /* Rose Pine Pink */
}

#workspaces button.urgent {
    color: #f38ba8; /* Rose Pine Red */
}

#workspaces button:hover {
    color: #cdd6f4; /* Rose Pine Text */
}

#custom-weather,
#custom-myhyprv,
#window,
#clock,
#battery,
#network,
#tray,
#temperature,
#cpu,
#memory,
#backlight {
    padding: 0px 8px;
    margin: 3px;
    color: #cdd6f4; /* Rose Pine Text */
}

#pulseaudio,
#pulseaudio2,
#cpu,
#disk,
#custom-updates,
#memory,
#custom-lock_screen,
#custom-light_dark,
#custom-power_btn,
#custom-power_profile {
    padding: 0px 8px;
    margin: 3px;
    border-radius: 15px;
    opacity: 0.9;
    color: #cdd6f4; /* Rose Pine Text */
}

#workspaces {
    padding: 0px;
    margin: 3px;
    opacity: 0.9;
}

#cava {
    font-family: "FiraMono Nerd Font Propo";
    font-weight: 200;
    padding: 8px 8px;
    margin: 6px;
    border-radius: 15px;
    opacity: 0.9;
    color: #cdd6f4; /* Rose Pine Text */
}

