# --- Sioyek Keybindings ---

# Matching your Zathura zoom logic
# C-j for zoom out, C-k for zoom in
zoom_out             <C-j>
zoom_in              <C-k>

# Toggle Dark Mode (Replacing 'i' in Zathura)
toggle_dark_mode     i

# Reload document
reload               r

# Fullscreen (Matching your 'f' map)
toggle_fullscreen    f

# Smooth scrolling with jk
screen_down          J
screen_up            K

# Horizontal movement (Arrow Left and Right replacement)
move_down            j
move_up              k
move_left            l
move_right           h


# Open document
open_document        o
